<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prise de note kriss CLOTILDE</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<table>
  <tbody><tr>
    <td id="td1">0</td>
    <td id="td2">1</td>
    <td id="td3">2</td>
    <td id="td4">3</td>
    <td id="td5">4</td>


  </tr><tr>
  </tr><tr id="0">
    <td id="td00"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td01"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td02"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td03"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td04"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td05">0</td>
  </tr>

  <tr id="1">
    <td id="td10"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td11"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td12"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td13"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td14"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td15">1</td>
  </tr>
  <tr id="2">
    <td id="td20"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td21"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td22"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td23"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td24"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td25">2</td>
  </tr>
      <tr id="3">
    <td id="td30"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td31"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td32"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td33"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td34"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td35">3</td>
  </tr>
  <tr id="4">
    <td id="td40"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td41"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td42"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td43"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td44"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td45">4</td>
  </tr>

</tbody>
</table>



</tbody>
  <div class="container">
    <h1>bataille navale</h1>
 

  
    <iframe id="transit" name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>




    <script>
    
      function tirdessus() {
        
        document.getElementById("tirdessus").action = "/insert/tir" ;
      }
      function tirdelete() {
        
        document.getElementById("tirdelete").action = "/deletetir" ;
        $('td, tr').css("background-color, initial");


      }
    </script>
    <div class="container">
      <form id="tirdessus" method="POST" action="/" target="hiddenFrame">
        <label for="name"></label>


        <select name="posX">
        <nom>posX</nom>
        <option valeur="0">0</option>
        <option valeur="1">1</option>
        <option valeur="2">2</option>
        <option valeur="3">3</option>
        <option valeur="4">4</option>
      
        
        </select>
     <select name="posY">
     <nom>posY</nom>
     <option valeur="0">0</option>
     <option valeur="1">1</option>
     <option valeur="2">2</option>
     <option valeur="3">3</option>
     <option valeur="4">4</option>
     
     </select>
        <input onclick="tirdessus(), actutirs()" type="submit" value="tirer" />
      </form>
    </div>
  
    <div class="container">
      <form id="tirdelete" method="POST" action="/" target="hiddenFrame">
        <label for="name"></label>
        
        <input onclick="tirdelete(), actutirs()" type="submit" value="effacer tous les tirs" />
      </form>
    </div>
    <div class="container">
     
       
         <label>InputX</label>
        <input id='inputX' type="text"  />
        <label>InputY</label>
        <input id='inputY' type="text" />
        <button onclick="poserbateau()">poser bateau</button>




      </form>
    </div> 
    <script>



function poserbateau() {
var positionX=Number($('#inputX').val());
  var positionY=Number($('#inputY').val());
  console.log("OOOO"+positionX);  
      
  $('td').mouseover(function() {
   
 
   
});
var posX;
   var posY;
   var hoverY;
   var hoverX;
  
    $( 'td' ).hover(


    function() {
    
      posX=  Number(this.id.replace('td', '').substr(0, 1));
    posY=Number(this.id.replace('td', '').substr(1, 2));
    hoverX=posX+positionX;
     hoverY=posY+positionY;
    console.log('X :'+posX+'Y :'+posY);
    console.log( '#'+posX+posY);
   // $(  this).css( "background-color", "green" );
 
   $(this).css( "background-color", "green" );
    $('#td'+hoverX+hoverY).css( "background-color", "green" );
 //  $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "green" );
      
    
  },
  
  function() {
    //$(  this).css( "background-color", "cyan" );
    //$('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
    $(this).css( "background-color", "cyan" );
    $('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
   // $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "cyan" );
      }
    
  
);
        
    }


      function actu() {
        $("#insert").empty();
        $.getJSON('/todo', function (data) {
          console.log(data);
          for (var i = 0; i < data.length; i++) {

            $("#insert").append("id :  " + data[i].id + " " + data[i].name + "                 " + "   <br>                      date :  " + data[i].date + " " + "<br>");
          };






        });

      }

      function actutirs() {
    
        $.getJSON('/tirs', function (data) {
          for (var i = 0; i < data.length; i++) {
          console.log(""+data[i].placeX+data[i].placeY);

          $("#td"+data[i].placeX+data[i].placeY).css("background-color", "red");
          }





        });

      }

      function actubateau() {
        
        $.getJSON('/bateau', function (data) {
          for (var i = 0; i < data.length; i++) {
            console.log(""+data[i].placeX+data[i].placeY);

$("#td"+data[i].placeX+data[i].placeY).empty();
          }





        });

      }

      $(document).ready(function () {
        
        actu(); 
        actubateau();
        actutirs();
       
        $("#tacheCree").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   alert(data); // show response from the php script.
       }
     });


});

$("#delete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   alert(data); // show response from the php script.
       }
     });


});

$("#tirdessus").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        
        actutirs();
           ///alert(data); // show response from the php script.
       }
     });


});

$("#tirdelete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        location.assign(location.href);
        actutirs();
           ///alert(data); // show response from the php script.
       }
     });


});

      });
    </script>
  </div>

</body>

</html>