<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bataille navale</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>

  <style>
 
 select{
   width:70px;
   height: 60px;
 }
 
  
  :root {
    --hue:275deg; /* change hue of picture (320deg) */
    --orangered:orangered;
    --darkorange:darkorange;
    --orange:orange;
    --yellow:yellow;
    --black:black;  
  }
  * {
    box-sizing:border-box;
  }
  html {
    background:#788;
  }
  
  #canvas {
    position:relative;
    width:600px;
    height:400px;
    background:linear-gradient(to bottom, var(--darkorange) 25%, var(--yellow) 70%, var(--orange) 70%, var(--orangered));
    filter:hue-rotate(var(--hue));
    transform-origin:top center;
    transform:scale(1.5);
    margin:0 auto;
    box-shadow:0 5px 10px rgba(0,0,0,.4);
    border:20px solid white;
  }
  #canvas:before { /* texture-overlay */
    content:'';
    position:absolute;
    left:-20px;
    
    width:inherit;
    height:inherit;
    border:20px solid white;
    box-sizing:border-box;
    background:radial-gradient(circle, rgba(60,60,60,1) 1px, transparent 1px);
    background-size:3px 3px;
    z-index:2;
    mix-blend-mode:overlay;
    opacity:.25;
  }
 
  
  </style>
 <script>  let plus=30;
 function tailleplus(){
 
  ++plus;
   $("td").width( plus);
   $("td").height( plus);
  }
   function taillemoins(){
   --plus;
   $("td").height(  plus);}
   </script>
 
  <div id="principal">
    
    <div  class="container" >
     
       <div>
         <button id="play2">joeur musique</button>
         <button id="pause2">pause</button>
         <button id="restart2">recommencer la musique</button>
       </div>
      
        <div>
        <h1>bataille navale</h1></br></br>
        </div>
        <div id="adversaire"></div>
        <h2 id="textAff">Cliquer sur la case pour tirer si c'est votre tour.</h2>
      <div>
      </form></br></br>
            <form id="tirdessus" method="POST" action="/insert/tir" target="hiddenFrame">
              <label for="name"></label>
            </br>
            </br></br>
              <select id="selectX" name="posX">
              <nom>posX</nom>
              <option valeur="0">0</option>
              <option valeur="1">1</option>
              <option valeur="2">2</option>
              <option valeur="3">3</option>
              <option valeur="4">4</option>
            
              
              </select>
           <select id="selectY" name="posY">
           <nom>posY</nom>
           <option valeur="0">0</option>
           <option valeur="1">1</option>
           <option valeur="2">2</option>
           <option valeur="3">3</option>
           <option valeur="4">4</option>
           
           </select>
          
           <button id="feu" type="submit"> Feu<i style="color:red; width:50px" class="fas fa-meteor" onclick=" actutirs(), savoirsitirer()" ></i></button>
          
          
              
            </form>  
            </div>
            <div>
            <form id="touche" method="POST" action="/touche" target="hiddenFrame">

              <label >posX</label>
              <input id="iciX"type="text" name="posX">
              <label>posY</label>
              <input id="iciY"type="text" name="posY">
              <input type="submit" value="touche">
      
      
            </form>
      
      </div>
      <div><p id="qui" ></p></div>
        
  
     <div><a href="/loginpage">login</a></br></br>
      <a href="/bateau">Bateau</a></br></br>
      <a href="/partie">partie</a></br></br></div>
   
      
     
      <div>
      <iframe id="transit" name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe></br></br>
      <form name="tirer" id="joueuractu" action="/partieactu" method="Get">
      <input id="partieencours" type="submit" value="partie">  
      
        </form>

       
        </br>
      </br>
      </br>
     
        
      
      
         </div>
         <div>
          <form id="effacerbateau" action="/effacerBateau" method="post" target="hiddenFrame">
            <input type="submit" value="Enlever vos bateau" />
        </form>
      
        
        <form id="tirdelete" method="POST" action="/deletetir" target="hiddenFrame">
          <label for="name"></label>
          
          <input  type="submit" value="effacer tous les tirs" />
  
    </form>
    <button id="play">jouer</button>
    </div>
    </div>
    
    
          
        <div id="imgjeu">
        <div style="width:20%;margin:  auto;display: flex;">
            <button onclick="tailleplus()">+</button>
            <button onclick="taillemoins()">-</button>
          </div>
<div class="container2">
  <div id="td00" ><span>0</span></div>
  <div id="td10"onclick="valueCase(this)"><span>1</span></div>
  <div id="td20"onclick="valueCase(this)"><span>2</span></div>
  <div id="td30"onclick="valueCase(this)"><span>3</span></div>
  <div id="td40"onclick="valueCase(this)"><span>4</span></div>
  
  <div id="td01"onclick="valueCase(this)"><span>1</span></div>
  <div id="td11"onclick="valueCase(this)"><span></span></div>
  <div id="td21"onclick="valueCase(this)"><span></span></div>
  <div id="td31"onclick="valueCase(this)"></div>
  <div id="td41"onclick="valueCase(this)"></div>

  <div id="td02"onclick="valueCase(this)"><span>2</span></div>
  <div id="td12"onclick="valueCase(this)"></div>
  <div id="td22"onclick="valueCase(this)"></div>
  <div id="td32"onclick="valueCase(this)"></div>
  <div id="td42"onclick="valueCase(this)"></div>

  <div id="td03"onclick="valueCase(this)"><span>3</span></div>
  <div id="td13"onclick="valueCase(this)"></div>
  <div id="td23"onclick="valueCase(this)"></div>
  <div id="td33"onclick="valueCase(this)"></div>
  <div id="td43"onclick="valueCase(this)"></div>

  <div id="td04"onclick="valueCase(this)"><span>4</span></div>
  <div id="td14"onclick="valueCase(this)"></div>
  <div id="td24"onclick="valueCase(this)"></div>
  <div id="td34"onclick="valueCase(this)"></div>
  <div id="td44"onclick="valueCase(this)"></div>

 

</div>

</div>









    <script>
      function valueCase(e){
        //;
   
        let idValue = e.id;
        
        $("#selectX").val(idValue.split("td")[1].substr(0, 1));
        $("#selectY").val(idValue.split("td")[1].substr(1, 2));
        if($("#feu").is(":visible")){
          
          $("#feu").submit();
          $("#play").click();
      }
    }
      function quiestu2() {
      
        $.getJSON('/qui', function (data) {
          if(data===undefined){
            alert("Veuillez vous connecter.");
            window.location.href = "/loginpage";
          }
          
          
         
          if(JSON.stringify(data.message)==='"Qui êtes vous?, Veuillez-vous connecter. "'){
            alert("Veuillez vous connecter.");
            window.location.href = "/loginpage";
          }

        });
    }
    function savoirsitirer(){
      $("#feu").hide();
      console.log($('#quiadversaire option:selected').val());
      if($('#quiadversaire option:selected').val()=="XXXT11"){
        $("#feu").show();
        $("#joueuractu").submit

      }
      else if($('#quiadversaire option:selected').val()=="XXXT20"){
        $("#feu").show();
        $("#joueuractu").submit

      }
      else{
        
        $("#feu").hide();
        $("#joueuractu").submit
      }
    }
      function tirdessus() {
        
        document.getElementById("tirdessus").action = "/insert/tir" ;
      }
      
    </script>
    
   
    <!--
      <form id="partie" method="POST" action="/insert/partie">
        <label>Inserer ue partie joueur2</label>
        <input id="j2" name="joueur2" type="text">
        <label>tourj1</label>
        <input  name="tourj1" type="text">
          <input type="submit" value="valider tour">
        </form>
        -->
     

 
       
        <form id="updatej2" method="POST" action="/updatej2">
          <p >Changer de tour si vous êtes joueur2</p>
          <label>tourj1</label>
          <input id="tourj2" name="tourj1" type="text">
          <label>joueur1</label> 
          <input id="joue1" name="joueur2" type="text">
          
            <input type="submit" value="valider tour">
          </form>
        <form id="updatej1"method="POST" action="/updatej1">
          <p>Changer de tour si vous êtes joueur1</p>
          <label>tourj1</label>
        <input id="tourj1" name="tourj1" type="text">
        <label>joueur2</label>
        <input id="joue2" name="joueur1" type="text">
          <input type="submit" value="valider tour">
        </form>
        <!--
        <form id="joueur" action="/joueur" method="Get">
        <input type="submit" value="joueur avec bateau">  
        </form>
       
          <form id="tour" action="/tour" method="GET">
            <input type="submit" value="tour">
          </form>


        </form>
       -->
     
  
    

  <!--
<form id="email" method="Get" action="/email" target="hiddenFrame">
         
        
        <input onclick="tirdelete(), actutirs()" type="submit" value="joueur inscrit" />
       
      </form> 
      <p id="emailAff"></p>

    -->
    <script></script>

      

    
   
     





      
  


      

     
       <!--
         <label>InputX</label>
        <input id='inputX' type="text"  />
        <label>InputY</label>
        <input id='inputY' type="text" />
        <button onclick="poserbateau()">poser bateau</button>
     

        

      </form>
   
      <form id="positionbateau" method="post" action="/insert/bateau" target="hiddenFrame">
        <label>nom</label>
        <input type=text name="nom"> </input>
        <label>bateauX</label>
        <input type="text" name="bateauX"></input>
        <label>bateauY</label>
        <input type="text" name="bateauY"> </input>
    
        <input onclick=" actutirs()" type="submit" value="poser bateau" />
        </form>
       <h2>email personne inscrite et ayant des tirs</h2>
      <input id="reqmail" type="text">
      <button onclick="actutirsparemail()">Les tirs du joueur designer</button>

     
     

      <form id="deleteparemail" method="post" action="deletetir/:email" target="hiddenFrame">
        
        
        <input onclick=" actutirs()" type="submit" value="deletetir par email" />

      </form>
         -->
</div>
</div>
</body>




  
    <script>



function poserbateau() {
var positionX=Number($('#inputX').val());
  var positionY=Number($('#inputY').val());
  console.log("OOOO"+positionX);  
      
  $('td').mouseover(function() {
   
 
   
});
var posX;
   var posY;
   var hoverY;
   var hoverX;
  
    $( 'td' ).hover(


    function() {
    
      posX=  Number(this.id.replace('td', '').substr(0, 1));
    posY=Number(this.id.replace('td', '').substr(1, 2));
    hoverX=posX+positionX;
     hoverY=posY+positionY;
    console.log('X :'+posX+'Y :'+posY);
    console.log( '#'+posX+posY);
   // $(  this).css( "background-color", "green" );
 
   $(this).css( "background-color", "green" );
    $('#td'+hoverX+hoverY).css( 'border-radius', '25px' );
 //  $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "green" );
      
    
  },
  
  function() {
    //$(  this).css( "background-color", "cyan" );
    //$('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
    $(this).css( "background-color", "cyan" );
    $('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
   // $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "cyan" );
      }
    
  
);
        
    }


      function actu() {
        $("#insert").empty();
        $.getJSON('/todo', function (data) {
          console.log(data);
          for (var i = 0; i < data.length; i++) {

            $("#insert").append("id :  " + data[i].id + " " + data[i].name + "                 " + "   <br>                      date :  " + data[i].date + " " + "<br>");
          };






        });

      }
      function quiestu() {
        $("#qui").empty();
        $.getJSON('/qui', function (data) {
          console.log(data);
          
          $("#qui").append(JSON.stringify(data.message));


        });

      }

      function actutirs() {
    
        $.getJSON('/tirs', function (data) {
          for (var i = 0; i < data.length; i++) {
          console.log(""+data[i].placeX+data[i].placeY);

          //$("#td"+data[i].placeX+data[i].placeY).css("background-color", "red");
          }
          $("#joueuractu").submit()





        });

      }
      function actumesbateau() {
    
    $.getJSON('/mesbateau', function (data) {
      console.log("/////////////////"+JSON.stringify(data));
      if(data.message.length<2){
        alert("veuillez placer deux bateaux");
        window.location.href = '/bateau';
      }
      for (var i = 0; i < data.message.length; i++) {
      
        console.log("!!!!!!!!!!!"+data.message);

      $("#td"+data.message[i].bateauX+data.message[i].bateauY).css('border-radius', '0px');
      }
      





    });

  }
   
   function actutirsparemail2() {
    var quiestu2=$("#qui").html().split("Vous êtes ")[1].replace('"',"");
        
      var reqemail="/tirs/"+quiestu2;
       console.log("---"+quiestu2);
       $.getJSON(reqemail, function (data) {
     for (var i = 0; i < data.length; i++) {
     console.log(""+data[i].placeX+data[i].placeY);

     $("#td"+data[i].placeX+data[i].placeY).css("opacity", "0.5");
     $("#td"+data[i].placeX+data[i].placeY).css("background-color", "green");
    }  
  });
}
  function restoreColor(){
    for(let i=0;i<5;i++){
      for(let j=0; j<5;j++){
        $("#td"+i+j).css("opacity", "1");
        $("#td"+i+j).css("background-color", "blue");
      }
    }
  

}
    
   function actutirsparemail() {
       
        
        var reqemail="/tirs/"+$("#quiadversaire option:selected").text();
        console.log("---"+reqemail);
        $.getJSON(reqemail, function (data) {
      for (var i = 0; i < data.length; i++) {
      console.log(""+data[i].placeX+data[i].placeY);

      $("#td"+data[i].placeX+data[i].placeY).css("background-color", "yellow");
      }





    });

  }

      function actubateau() {
        
        $.getJSON('/bateau', function (data) {
          for (var i = 0; i < data.length; i++) {
              console.log(""+data[i].placeX+data[i].placeY);
              $("#td"+data[i].placeX+data[i].placeY).empty();
          }





        });

      }
      setInterval(function(){ restoreColor();savoirsitirer();
          actumesbateau();
        actutirs();actutirsparemail();actutirsparemail2(); }, 2000);
        setInterval(function(){ $("#joueuractu").submit()}, 2000);
        
      $(document).ready(function () {
        actumesbateau();
        $("#play").hide();



        $('#touche').hide();
        $("#transit").hide();
    
      $("#cont2").hide();
        $("#feu").hide();
        quiestu();
        actu(); 
        actubateau();
        actutirs();
       
        $("#tacheCree").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

$("#delete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#joueur").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "Get",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#tour").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "Get",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
         
        actu();
        var qui=data.message;

        for(var i=0; i<qui.length;i++){
          console.log(qui[i].joueur1);
          console.log(qui[i].joueur2);

        }
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

$("#updatej1").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(data.message);
        $("#joueuractu").submit();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

var actualiser="";
$("#joueuractu").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "GET",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {if(actualiser!=JSON.stringify(data.message)){
        actualiser=JSON.stringify(data.message);
       //alert("C'est peut être votre tour :"+JSON.stringify(data.message));
         
        var quiestu1=$("#qui").html();
         if(quiestu1!=='Qui êtes vous?, Veuillez-vous connecter.'){

         
        var quiestu=$("#qui").html().split("Vous êtes ")[1].replace('"',"");
      
      console.log(quiestu);
      console.log(data.message);
      console.log(data.message);
      var generate="";
      $("#adversaire").empty();
      generate+="<select onclick='savoirsitirer()'  id='quiadversaire'><nom>Adversaire</nom>)";

      for(var i=0; i<data.message.length;i++){
        if(quiestu==data.message[i].joueur1){
          
          console.log("vous êtes joueur1 contre"+data.message[i].joueur2);
          
          if(data.message[i].tourj1==1){
            alert("C'est votre tour contre :"+data.message[i].joueur2)
            generate+="  <option value=XXXT1"+data.message[i].tourj1+">"+data.message[i].joueur2+"</option>    ";

    
        
          }
         else if(data.message[i].tourj1==0){
            console.log("C'est le tour de :"+data.message[i].joueur2)
          generate+="  <option value=XXXT1"+data.message[i].tourj1+">"+data.message[i].joueur2+"</option>    ";
          }
       
        }
       else if(quiestu==data.message[i].joueur2){
        console.log("vous êtes joueur2 contre"+data.message[i].joueu1);
        if(data.message[i].tourj1==0){
            alert("C'est votre tour contre :"+data.message[i].joueur1)
           generate+="  <option value=XXXT2"+data.message[i].tourj1+">"+data.message[i].joueur1+"</option>    ";
          }
          else if(data.message[i].tourj1==1){
            console.log("C'est le tour de :"+data.message[i].joueur1)
           generate+= "  <option value=XXXT2"+data.message[i].tourj1+">"+data.message[i].joueur1+"</option>    ";
          }
          
        }
        console.log(generate);
        $("#adversaire").empty().append(generate);
      }
       
        actu();
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
         } else {console.log("Veuillez vous connecter.")}}},
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#updatej2").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        console.log(data.message);
        actu();
        $("#joueuractu").submit();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#partie").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       { 
        console.log(JSON.stringify(data.message));
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});




$("#positionbateau").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(data.message)
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#deleteparemail").submit(function(e) {
  var form = $(this);
var url = 'deletetir/'+$("#reqmail").val();
e.preventDefault();
if($("#reqmail").val()==""||$("#reqmail").val()===undefined){
console.log("email vide");
}else{
 // avoid to execute the actual submit of the form.



$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {

        actu();
        document.location.href="/"
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });
    }

});
$("#email").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "GET",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {$("#emailAff").empty();
         for(let i=0;i<data.length;i++){
         console.log(data[i].email);
         $("#emailAff").append(""+data[i].email +"<br>")
         }




        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log("error");
       }
     });


});
$("#tirdessus").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        console.log(data.message);
        actutirs();
        
        $("#iciX").val($("#selectX").val());

        $("#iciY").val($("#selectY").val());
        $("#touche").submit();
        
        
      
       $("#joue1").val($('#quiadversaire option:selected').text());
       $("#joue2").val($('#quiadversaire option:selected').text());
       $("#tourj1").val(0);
       $("#tourj2").val(1);
       $("#updatej1").submit();
       $("#updatej2").submit();
        $("#joueuractu").submit();
        $("#feu").hide();
           ///console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});



$("#touche").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
         //console.log(data.message);
         //console.log("--//////"+JSON.stringify(data))
        if(data.qui!==undefined){
          var reqemail=$("#quiadversaire option:selected").text();
          data.qui.forEach(element => {
          if(element.email===reqemail){
          alert(data.message+" vous avez atteint :"+element.email+"dont le bateau est :"+element.nom);
        }
        });
        
         
        }
        else{
          alert("aucun bateau touche");
        }
        actutirs();
           ///console.log(data); // show response from the php script.
       },
       error:function(data){
        
         alert(data.message);
       }
     });


});

$("#tirdelete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        
        actutirs();
        window.location.href="/"
           ///console.log(data); // show response from the php script.
       }
     });


});
$("#effacerbateau").submit( function(){
  document.location.href="/";
});
$("#joueuractu").submit();
     
$("#updatej1").hide();
       $("#updatej2").hide();
       $("#partieencours").hide();
       quiestu2();
       var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', '/son/tir.mp3');
    
    audioElement.addEventListener('ended', function() {
        this.play();
    }, false);
    
    audioElement.addEventListener("canplay",function(){
        $("#length").text("Duration:" + audioElement.duration + " seconds");
        $("#source").text("Source:" + audioElement.src);
        $("#status").text("Status: Ready to play").css("color","green");
    });
    
    audioElement.addEventListener("timeupdate",function(){
        $("#currentTime").text("Current second:" + audioElement.currentTime);
    });
    
    $('#play').click(function() {
        audioElement.play();
        $("#status").text("Status: Playing");
      setTimeout(()=>{audioElement.pause(),
        $("#status").text("Status: Paused")},5000)
        
    });
    
    $('#pause').click(function() {
        audioElement.pause();
        $("#status").text("Status: Paused");
    });
    
    $('#restart').click(function() {
        audioElement.currentTime = 0;
    });

    var audioElement2 = document.createElement('audio');
    audioElement2.setAttribute('src', '/son/musiquefond.mp3');
    
    audioElement2.addEventListener('ended', function() {
        this.play();
    }, false);
    
    audioElement2.addEventListener("canplay",function(){
        $("#length2").text("Duration:" + audioElement2.duration + " seconds");
        $("#source2").text("Source:" + audioElement2.src);
        $("#status2").text("Status: Ready to play").css("color","green");
    });
    
    audioElement2.addEventListener("timeupdate",function(){
        $("#currentTime2").text("Current second:" + audioElement2.currentTime);
    });
    
    $('#play2').click(function() {
        audioElement2.play();
        $("#status").text("Status: Playing");
     
    });
    
    $('#pause2').click(function() {
        audioElement2.pause();
        $("#status2").text("Status: Paused");
    });
    
    $('#restart2').click(function() {
        audioElement2.currentTime = 0;
    });
    $('td').mouseover(function() {
  $('#textAff').css("visibility","visible");
});

$('td').mouseout(function() {
  $('#textAff').css("visibility","hidden");
});

});
$("#selectX,#selectY").hide();


    </script>
 



</html>