<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bataille navale</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
<table>
  <tbody><tr>
    <td id="td1">0</td>
    <td id="td2">1</td>
    <td id="td3">2</td>
    <td id="td4">3</td>
    <td id="td5">4</td>


  </tr><tr>
  </tr><tr id="0">
    <td id="td00"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td01"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td02"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td03"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td04"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td05">0</td>
  </tr>

  <tr id="1">
    <td id="td10"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td11"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td12"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td13"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td14"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td15">1</td>
  </tr>
  <tr id="2">
    <td id="td20"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td21"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td22"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td23"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td24"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td25">2</td>
  </tr>
      <tr id="3">
    <td id="td30"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td31"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td32"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td33"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td34"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td35">3</td>
  </tr>
  <tr id="4">
    <td id="td40"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
      <td id="td41"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
        <td id="td42"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
          <td id="td43"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
            <td id="td44"><img id="img" +i+j="" src="https://krissclotilde.com/wp-content/uploads/2019/05/sea.png"></td>
              <td id="td45">4</td>
  </tr>

</tbody>
</table>

<p id="qui" style="width:300px;margin-left: auto; margin-right: auto ; font-size: 30px;"></p>

</tbody>
<div id="adversaire" class="container"></div>
  <div id="cont1" class="container">
    <h1>bataille navale</h1>
 
    <a href="/loginpage">login</a>
  
    <iframe id="transit" name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>




    <script>
    function savoirsitirer(){
      $("#feu").hide();
      console.log($('#quiadversaire option:selected').val());
      if($('#quiadversaire option:selected').val()=="XXXT11"){
        $("#feu").show();

      }
      else if($('#quiadversaire option:selected').val()=="XXXT20"){
        $("#feu").show();

      }
      else{
        
        $("#feu").hide();
      }
    }
      function tirdessus() {
        
        document.getElementById("tirdessus").action = "/insert/tir" ;
      }
      function tirdelete() {
        
        document.getElementById("tirdelete").action = "/deletetir" ;
        $('td, tr').css("background-color, initial");


      }
    </script>
    
   <form name="tirer" id="joueuractu" action="/partieactu" method="Get">
    <input id="partieencours" type="submit" value="partie">  
    </form>
      <form id="tirdessus" method="POST" action="/insert/tir" target="hiddenFrame">
        <label for="name"></label>


        <select id="selectX" name="posX">
        <nom>posX</nom>
        <option valeur="0">0</option>
        <option valeur="1">1</option>
        <option valeur="2">2</option>
        <option valeur="3">3</option>
        <option valeur="4">4</option>
      
        
        </select>
     <select id="selectY" name="posY">
     <nom>posY</nom>
     <option valeur="0">0</option>
     <option valeur="1">1</option>
     <option valeur="2">2</option>
     <option valeur="3">3</option>
     <option valeur="4">4</option>
     
     </select>
    
     <button id="feu" type="submit"> <i style="color:red" class="fas fa-meteor" onclick="tirdessus(), actutirs(), savoirsitirer()" ></i></button>
    </a>
    
        
      </form>    
      
      <form id="tirdelete" method="POST" action="/" target="hiddenFrame">
        <label for="name"></label>
        
        <input onclick="tirdelete(), actutirs()" type="submit" value="effacer tous les tirs" />
      </form>
      <form id="partie" method="POST" action="/insert/partie">
        <label>Inserer ue partie joueur2</label>
        <input id="j2" name="joueur2" type="text">
        <label>tourj1</label>
        <input  name="tourj1" type="text">
          <input type="submit" value="valider tour">
        </form>
        <style>
          #updatej2, #updatej1{
            visibility: hidden;
          }
        

        </style>
        <form id="updatej2" method="POST" action="/updatej2">
          <p>Changer de tour si vous êtes joueur2</p>
          <label>tourj1</label>
          <input id="tourj2" name="tourj1" type="text">
          <label>joueur1</label> 
          <input id="joue1" name="joueur2" type="text">
          
            <input type="submit" value="valider tour">
          </form>
        <form id="updatej1"method="POST" action="/updatej1">
          <p>Changer de tour si vous êtes joueur1</p>
          <label>tourj1</label>
        <input id="tourj1" name="tourj1" type="text">
        <label>joueur2</label>
        <input id="joue2" name="joueur1" type="text">
          <input type="submit" value="valider tour">
        </form>
        <form id="joueur" action="/joueur" method="Get">
        <input type="submit" value="joueur avec bateau">  
        </form>
       
          <form id="tour" action="/tour" method="GET">
            <input type="submit" value="tour">
          </form>


        </form>

  
    
     
<form id="email" method="Get" action="/email" target="hiddenFrame">
        
        
        <input onclick="tirdelete(), actutirs()" type="submit" value="joueur inscrit" />
       
      </form> 
      <p id="emailAff"></p>
      <form id="touche" method="POST" action="/touche" target="hiddenFrame">
        
        <label >posX</label>
        <input id="iciX"type="text" name="posX">
        <label>posY</label>
        <input id="iciY"type="text" name="posY">
        <input type="submit" value="touche">
        
      
      </form>
   
    
   
     





      
  


      

     
       <!--
         <label>InputX</label>
        <input id='inputX' type="text"  />
        <label>InputY</label>
        <input id='inputY' type="text" />
        <button onclick="poserbateau()">poser bateau</button>
       -->

        

      </form>
   
      <form id="positionbateau" method="post" action="/insert/bateau" target="hiddenFrame">
        <label>nom</label>
        <input type=text name="nom"> </input>
        <label>bateauX</label>
        <input type="text" name="bateauX"></input>
        <label>bateauY</label>
        <input type="text" name="bateauY"> </input>
    
        <input onclick=" actutirs()" type="submit" value="poser bateau" />
        </form>
       <h2>email personne inscrite et ayant des tirs</h2>
      <input id="reqmail" type="text">
      <button onclick="actutirsparemail()">Les tirs du joueur designer</button>

     
     

      <form id="deleteparemail" method="post" action="deletetir/:email" target="hiddenFrame">
        
        
        <input onclick=" actutirs()" type="submit" value="deletetir par email" />






  
    <script>



function poserbateau() {
var positionX=Number($('#inputX').val());
  var positionY=Number($('#inputY').val());
  console.log("OOOO"+positionX);  
      
  $('td').mouseover(function() {
   
 
   
});
var posX;
   var posY;
   var hoverY;
   var hoverX;
  
    $( 'td' ).hover(


    function() {
    
      posX=  Number(this.id.replace('td', '').substr(0, 1));
    posY=Number(this.id.replace('td', '').substr(1, 2));
    hoverX=posX+positionX;
     hoverY=posY+positionY;
    console.log('X :'+posX+'Y :'+posY);
    console.log( '#'+posX+posY);
   // $(  this).css( "background-color", "green" );
 
   $(this).css( "background-color", "green" );
    $('#td'+hoverX+hoverY).css( "background-color", "green" );
 //  $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "green" );
      
    
  },
  
  function() {
    //$(  this).css( "background-color", "cyan" );
    //$('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
    $(this).css( "background-color", "cyan" );
    $('#td'+hoverX+hoverY).css( "background-color", "cyan" );
   
   // $('#td'+(hoverX-1)+(hoverY-1)).css( "background-color", "cyan" );
      }
    
  
);
        
    }


      function actu() {
        $("#insert").empty();
        $.getJSON('/todo', function (data) {
          console.log(data);
          for (var i = 0; i < data.length; i++) {

            $("#insert").append("id :  " + data[i].id + " " + data[i].name + "                 " + "   <br>                      date :  " + data[i].date + " " + "<br>");
          };






        });

      }
      function quiestu() {
        $("#qui").empty();
        $.getJSON('/qui', function (data) {
          console.log(data);
          
          $("#qui").append(JSON.stringify(data.message));


        });

      }

      function actutirs() {
    
        $.getJSON('/tirs', function (data) {
          for (var i = 0; i < data.length; i++) {
          console.log(""+data[i].placeX+data[i].placeY);

          $("#td"+data[i].placeX+data[i].placeY).css("background-color", "red");
          }





        });

      }
      function actutirsparemail() {
    
        var reqemail="/tirs/"+$("#reqmail").val();
    $.getJSON(reqemail, function (data) {
      for (var i = 0; i < data.length; i++) {
      console.log(""+data[i].placeX+data[i].placeY);

      $("#td"+data[i].placeX+data[i].placeY).css("background-color", "blue");
      }





    });

  }

      function actubateau() {
        
        $.getJSON('/bateau', function (data) {
          for (var i = 0; i < data.length; i++) {
            console.log(""+data[i].placeX+data[i].placeY);

$("#td"+data[i].placeX+data[i].placeY).empty();
          }





        });

      }

      $(document).ready(function () {
        savoirsitirer();
        quiestu();
        actu(); 
        actubateau();
        actutirs();
       
        $("#tacheCree").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

$("#delete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#joueur").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "Get",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#tour").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "Get",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
         
        actu();
        var qui=data.message;

        for(var i=0; i<qui.length;i++){
          console.log(qui[i].joueur1);
          console.log(qui[i].joueur2);

        }
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

$("#updatej1").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(data.message);
        $("#joueuractu").submit();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#joueuractu").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "GET",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {var quiestu1=$("#qui").html();
         if(quiestu1!=='Qui êtes vous?, Veuillez-vous connecter.'){

         
        var quiestu=$("#qui").html().split("Vous êtes ")[1].replace('"',"");
      
      console.log(quiestu);
      console.log(data.message);
      console.log(data.message);
      var generate="";
      $("#adversaire").empty();
      generate+="<select onclick='savoirsitirer()' id='quiadversaire'><nom>Adversaire</nom>)";

      for(var i=0; i<data.message.length;i++){
        if(quiestu==data.message[i].joueur1){
          console.log("vous êtes joueur1 contre"+data.message[i].joueur2);
          
          if(data.message[i].tourj1==1){
            console.log("C'est votre tour contre :"+data.message[i].joueur2)
            generate+="  <option value=XXXT1"+data.message[i].tourj1+">"+data.message[i].joueur2+"</option>    ";

    
        
          }
         else if(data.message[i].tourj1==0){
            console.log("C'est le tour de :"+data.message[i].joueur2)
          generate+="  <option value=XXXT1"+data.message[i].tourj1+">"+data.message[i].joueur2+"</option>    ";
          }
       
        }
       else if(quiestu==data.message[i].joueur2){
        console.log("vous êtes joueur2 contre"+data.message[i].joueu1);
        if(data.message[i].tourj1==0){
            console.log("C'est votre tour contre :"+data.message[i].joueur1)
           generate+="  <option value=XXXT2"+data.message[i].tourj1+">"+data.message[i].joueur1+"</option>    ";
          }
          else if(data.message[i].tourj1==1){
            console.log("C'est le tour de :"+data.message[i].joueur1)
           generate+= "  <option value=XXXT2"+data.message[i].tourj1+">"+data.message[i].joueur1+"</option>    ";
          }
          
        }
        
        $("#adversaire").empty().append(generate);
      }
       
        actu();
        console.log(JSON.stringify(data.message));
        ///   console.log(data); // show response from the php script.
         } else {console.log("Veuillez vous connecter.")}},
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#updatej2").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        console.log(data.message);
        actu();
        $("#joueuractu").submit();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#partie").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       { 
        console.log(JSON.stringify(data.message));
        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});




$("#positionbateau").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        actu();
        console.log(data.message)
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});
$("#deleteparemail").submit(function(e) {
  var form = $(this);
var url = 'deletetir/'+$("#reqmail").val();
e.preventDefault();
if($("#reqmail").val()==""||$("#reqmail").val()===undefined){
console.log("email vide");
}else{
 // avoid to execute the actual submit of the form.



$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {

        actu();
        document.location.href="/"
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });
    }

});
$("#email").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "GET",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {$("#emailAff").empty();
         for(let i=0;i<data.length;i++){
         console.log(data[i].email);
         $("#emailAff").append(""+data[i].email +"<br>")
         }




        actu();
        ///   console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log("error");
       }
     });


});
$("#tirdessus").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        console.log(data.message);
        actutirs();
        
        $("#iciX").val($("#selectX").val());

        $("#iciY").val($("#selectY").val());
        $("#touche").submit();
        
        
      
       $("#joue1").val($('#quiadversaire option:selected').text());
       $("#joue2").val($('#quiadversaire option:selected').text());
       $("#tourj1").val(0);
       $("#tourj2").val(1);
       $("#updatej1").submit();
       $("#updatej2").submit();
        $("#joueuractu").submit();
        $("#feu").hide();
           ///console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});



$("#touche").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
         console.log(data.message);
        console.log(data.message);
        actutirs();
           ///console.log(data); // show response from the php script.
       },
       error:function(data){
         console.log(data.message);
       }
     });


});

$("#tirdelete").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
       type: "POST",
       url: url,
       data: form.serialize(), // serializes the form's elements.
       success: function(data)
       {
        location.assign(location.href);
        actutirs();
           ///console.log(data); // show response from the php script.
       }
     });


});
$("#joueuractu").submit();
      });
    </script>
  </div>

</body>

</html>