<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>bataille navale</title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    </head>
   <body>
      <div class="cursor2"></div>
      <canvas id="canvas1"></canvas>
      <script src="particule.js"></script>
      <header>
         <div class="liensvers">
            <a class="link" href="/loginpage">Login</a>
            <a class="link" href="/bateau">Bateau</a>
            <a class="link" href="/partie">Partie</a>
         </div>
         <div class="robot">
            <a class="link" onclick="postAqui()"><i class="fas fa-robot"></i><i class="fas fa-fire"></i></a>
            <a onclick="poserbateauRobot()" class="link"><i class="fas fa-robot"><i class="fas fa-ship"></i></i></a>
            <a onclick="effacerTirBisRobot()" class="link"><i class="fas fa-robot"></i><i class="far fa-trash-alt"></i></a>
            <a onclick=" effacerBateauBisRobot()" class="link"><i class="fas fa-robot"></i><i class="far fa-trash-alt"></i><i class="fas fa-ship"></i></a>
         </div>
         <div class="notretir">
            <a onclick="restoreColor(),effacerBateauBis()"><i class="far fa-trash-alt"></i><i class="fas fa-ship"></i></a>
            <a onclick="restoreColor(),effacerTirBis()"><i class="far fa-trash-alt"></i></a>
         </div>
         <div class="musique">
            <a id="play2" class="link"><i class="fas fa-music"></i></a>
            <a id="pause2" class="link"><i class="fas fa-pause-circle"></i></a>
            <a id="restart2" class="link"><i class="fas fa-reply"></i></a>
         </div>
      </header>
      <div class="container3">
      </div>
      <div class="principal">
         <div id="ChatMessage">
            <input style="width: 300px;" type="text" id="envoi" />
            <button onclick="send()">envoyer</button>
            <div class="scroller" style="background-color: rgb(118, 227, 247)">
               <p id="receiveMsg"></p>
            </div>
         </div>
         <div id="apparitionChat">
            <div>
               <button id="cacheChat" class="btn live-chat-btn util-padding-horz-5 util-padding-vert-5">
               <span class="live-chat-text util-padding-horz-10">Chat online</span>
               
               </button>
            </div>
         </div>
      </div>
      <div class="principal">
         <div>
            <div class="container">
               <div><a href="/loginpage">Login</a></br></br>
                  <a href="/bateau">Bateau</a></br></br>
                  <a href="/partie">Partie</a></br></br>
               </div>
               <div id="adversaire"></div>
            </div>
         </div>
         <div></div>
         <div>
            <div>
               <p id="contreadv"></p>
            </div>
            <div>
               <h2 style="margin: 0; padding: 0;" id="textAff">A vous</h2>
            </div>
            <div class="container2">
               <div id="td00" onclick="valueCase(this)" class="zone"><span>0</span></div>
               <div id="td10" onclick="valueCase(this)" class="zone"><span>1</span></div>
               <div id="td20" onclick="valueCase(this)" class="zone"><span>2</span></div>
               <div id="td30" onclick="valueCase(this)" class="zone"><span>3</span></div>
               <div id="td40" onclick="valueCase(this)" class="zone"><span>4</span></div>
               <div id="td01" onclick="valueCase(this)" class="zone"><span>1</span></div>
               <div id="td11" onclick="valueCase(this)" class="zone"><span></span></div>
               <div id="td21" onclick="valueCase(this)" class="zone"><span></span></div>
               <div id="td31" onclick="valueCase(this)" class="zone"></div>
               <div id="td41" onclick="valueCase(this)" class="zone"></div>
               <div id="td02" onclick="valueCase(this)" class="zone"><span>2</span></div>
               <div id="td12" onclick="valueCase(this)" class="zone"></div>
               <div id="td22" onclick="valueCase(this)" class="zone"></div>
               <div id="td32" onclick="valueCase(this)" class="zone"></div>
               <div id="td42" onclick="valueCase(this)" class="zone"></div>
               <div id="td03" onclick="valueCase(this)" class="zone"><span>3</span></div>
               <div id="td13" onclick="valueCase(this)" class="zone"></div>
               <div id="td23" onclick="valueCase(this)" class="zone"></div>
               <div id="td33" onclick="valueCase(this)" class="zone"></div>
               <div id="td43" onclick="valueCase(this)" class="zone"></div>
               <div id="td04" onclick="valueCase(this)" class="zone"><span>4</span></div>
               <div id="td14" onclick="valueCase(this)" class="zone"></div>
               <div id="td24" onclick="valueCase(this)" class="zone"></div>
               <div id="td34" onclick="valueCase(this)" class="zone"></div>
               <div id="td44" onclick="valueCase(this)" class="zone"></div>
            </div>
         </div>
      </div>
      <div class="principal">
         <div>
            <p id="qui"></p>
         </div>
         <div class="console"><button onclick="cleaninfo()">effacer les infos</button></div>
         <div class="console">
            <span>Console</span>
            <div class="scroller" id="info"></div>
         </div>
      </div>
      <div class="container">
         <div>
            <p id="changeone"></p>
         </div>
         <div>
            <p id="ou"></p>
         </div>
      </div>
      <div class="container">
         <div class="container">
            </form></br></br>
            <form id="tirdessus" method="POST" action="/insert/tir" target="hiddenFrame">
               <label for="name"></label>
               </br>
               </br></br>
               <select id="selectX" name="posX">
                  <nom>posX</nom>
                  <option valeur="0">0</option>
                  <option valeur="1">1</option>
                  <option valeur="2">2</option>
                  <option valeur="3">3</option>
                  <option valeur="4">4</option>
               </select>
               <select id="selectY" name="posY">
                  <nom>posY</nom>
                  <option valeur="0">0</option>
                  <option valeur="1">1</option>
                  <option valeur="2">2</option>
                  <option valeur="3">3</option>
                  <option valeur="4">4</option>
                  <input id="adv" name="adversaire" type="text">
               </select>
               <button onclick=" actutirs(), savoirsitirer()" id="feu" type="submit"> Feu </button>
            </form>
         </div>
      </div>
      </div>
      </div>
      </div>
      <div class="container">
         <div class="container">
            <form id="touche" method="POST" action="/touche" target="hiddenFrame">
               <label>posX</label>
               <input id="iciX" type="text" name="posX">
               <label>posY</label>
               <input id="iciY" type="text" name="posY">
               <input type="submit" value="touche">
            </form>
         </div>
         <div>
            <iframe id="transit" name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe></br></br>
            <form name="tirer" id="joueuractu" action="/partieactu" method="Get">
               <input id="partieencours" type="submit" value="partie">
            </form>
            </br>
            </br>
            </br>
         </div>
         <div id="imgjeu">
         </div>
         <div>
            <form id="updatej2" method="POST" action="/updatej2">
               <p>Changer de tour si vous êtes joueur2</p>
               <label>tourj1</label>
               <input id="tourj2" name="tourj1" type="text">
               <label>joueur1</label>
               <input id="joue1" name="joueur2" type="text">
               <input type="submit" value="valider tour">
            </form>
            <form id="updatej1" method="POST" action="/updatej1">
               <p>Changer de tour si vous êtes joueur1</p>
               <label>tourj1</label>
               <input id="tourj1" name="tourj1" type="text">
               <label>joueur2</label>
               <input id="joue2" name="joueur1" type="text">
               <input type="submit" value="valider tour">
            </form>
         </div>
      </div>
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Bataille navale créé par kriss pour son projet de fin d'étude.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li>  <a class="link" href="/loginpage">Login</a></li>
               <li><a class="link" href="/bateau">Bateau</a></li>
               <li> <a class="link" href="/partie">Parie</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="https://krissclotilde.com/">Autre site</a></li>
                <li><a href="https://krissdeveloppeur.com/">Autre site</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Bataille navale</a>.
              </p>
            </div>
          </div>
        </div>
  </footer>
   </body>
   <script src="./logique.js"></script>
   <script src='/socket.io/socket.io.js'></script>
   <script src="./logique2.js"></script>
   <script src="./ready.js"></script>
</html>
